@import '../../../assets/styles/variables.scss';

.followers-displayer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: $colorDarkBlue;

  > .number {
    color: $colorDarkBlue;
  }

  > .label {
    color: $colorNormalGray;
  }
}
