@import '../../../../../../../assets/styles/variables.scss';

.most-starred-repo {
  border: 1px solid $colorNormalBlue;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 14px;
  background: linear-gradient(
    to right,
    $colorNormalBlue,
    $colorNormalBlue 0.5rem,
    transparent 0.5rem,
    transparent 100%
  );

  > .header {
    width: 100%;
    color: $colorNormalBlue;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }

  > .body {
    font-size: 12px;
    color: $colorDarkGray;
    margin-top: 14px;
    text-align: start;
  }
}
