@import '../../../../../assets/styles/variables.scss';

.line-section {
  margin-top: 56px;

  .line-section-title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 32px;
  }

  .line-section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
